$dotSize: 24px;
$dotSizeAddition: 16px;
.side-filter {
    .page-content {
        overflow-x: hidden;
    }
    .panel-overlay {
        transform: none !important;
    }
    .location-select {
        .location-item {
            color: white;
            display: block;
            padding: 0 30px 10px 30px;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:before {
                content: '';
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                top: -2px;
                background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJ3aGl0ZSIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJNMTIgMkM4LjEzIDIgNSA1LjEzIDUgOWMwIDUuMjUgNyAxMyA3IDEzczctNy43NSA3LTEzYzAtMy44Ny0zLjEzLTctNy03em0wIDkuNWMtMS4zOCAwLTIuNS0xLjEyLTIuNS0yLjVzMS4xMi0yLjUgMi41LTIuNSAyLjUgMS4xMiAyLjUgMi41LTEuMTIgMi41LTIuNSAyLjV6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==');
            }
            &:after {
                content: '';
                width: 24px;
                height: 24px;
                position: absolute;
                right: 10px;
                top: -2px;
                background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xMCA2TDguNTkgNy40MSAxMy4xNyAxMmwtNC41OCA0LjU5TDEwIDE4bDYtNnoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+');
            }
        }
    }
}
.range-slider {
    .vue-slider-dot {
        width: 80px !important;
        height: 60px !important;
        top: -17px !important;
        left: -25px !important;
        background: transparent !important;
        &:before {
            content: "";
            background: white;
            width: $dotSize;
            height: $dotSize;
            position: absolute;
            top: 17px;
            left: 25px;
            border-radius: 50%;
        }
    }
}
.autocomplate-list {
    margin: 0 -16px !important;
    padding-top: 20px;
    position: absolute;
    background-color: $maincolor; 
    width: calc(100% + 16px);
    z-index: 4;
    height: calc(100vh - 60px);
    .autocomplate-list-item {
        &:focus {
            outline: 0;
            background: #9c2e39;
        }
        .item-inner {
            color: white;
            margin: 0;
            margin-bottom: 5px;
            line-height: 48px;
            padding: 2px 0 2px 40px;
        }
    }
    &.list-block ul {
        padding-left: 0;
    }
}
.custom-search {
    .item-input {
        z-index: 15;
    }
    .custom-search__input-mask {
        width: 220px;
        height: 30px;
        position: absolute;
        z-index: 9999;
    }
    input {
        width: calc(100% - 40px) !important;
        transition: 300ms all;
    }
    &__cancel, &__show-category {
        position: absolute;
        right: -32px;
        top: 8px;
        margin: 0;
        width: 28px;
        height: 28px;
        transition: 300ms all;
        border: 1px solid white;
    }
    &__cancel {
        border-radius: 50%;
        &:before, &:after {
            content: '';
            position: absolute;
            transform: rotate(45deg);
            width: 70%;
            height: 1px;
            background: white;
            top: 50%;
            left: 4px;
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
    &__show-category {
        background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0zIDEzaDJ2LTJIM3Yyem0wIDRoMnYtMkgzdjJ6bTAtOGgyVjdIM3Yyem00IDRoMTR2LTJIN3Yyem0wIDRoMTR2LTJIN3Yyek03IDd2MmgxNFY3SDd6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==");
        right: 16px;
        z-index: 9999;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid white;
        border-radius: 50%;
        width: 28px;
        height: 28px;
    }
    &_active {
        .custom-search__cancel {
            right: 16px;
            z-index: 9999;
        }
        .autocomplate-list {
            z-index: 10 !important;
            display: block !important;
        }
        .custom-search__input-mask {
            display: none;
        }
        .custom-search__show-category {
            right: -32px;
        }
    }
    
    .autocomplate-list {
        z-index: -1;
        display: none;
    }
    &_city {
        position: absolute !important;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100vh;
        z-index: 100000;
        background: $maincolor;
        &_active {
            display: block;
            & .autocomplate-list {
                opacity: 1;
                display: block;
            }
            & .custom-search__cancel {
                right: 16px;
                z-index: 16;
            }
            & input {
                width: calc(100% - 40px) !important;
            }
        }
        .autocomplate-list {
            .item-content {
                .item-inner {
                    line-height: 100%;
                    &:before {
                        content: '';
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        left: 10px;
                        top: -5px;
                        background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSJ3aGl0ZSIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJNMTIgMkM4LjEzIDIgNSA1LjEzIDUgOWMwIDUuMjUgNyAxMyA3IDEzczctNy43NSA3LTEzYzAtMy44Ny0zLjEzLTctNy03em0wIDkuNWMtMS4zOCAwLTIuNS0xLjEyLTIuNS0yLjVzMS4xMi0yLjUgMi41LTIuNSAyLjUgMS4xMiAyLjUgMi41LTEuMTIgMi41LTIuNSAyLjV6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==');
                    }
                }
            }
            &-item.is-navigation {
                .item-inner:before {
                    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMiAyTDQuNSAyMC4yOWwuNzEuNzFMMTIgMThsNi43OSAzIC43MS0uNzF6Ii8+Cjwvc3ZnPg==');
                    transform: rotate(30deg);
                }
            }
        }
    }
    
    .category-list {
        margin: 0 -16px !important;
        padding: 0 14px;
        position: absolute;
        background-color: #e54b50;
        width: calc(100% + 16px);
        height: 105vh;
        z-index: 11000;
        top: 0;
        .label {
            font-size: 14px;
        }
        .custom-search__cancel {
            right: 30px;
        }
        ul {
            padding-left: 0;
        }
        li {
            .item-content {
                padding-left: 0;
                font-weight: bold;
                letter-spacing: 1px;
                margin-left: -14px;
            }
            &.is-active {
                .item-content {
                    background: $inputBgColor;
                }
            }
            &:first-child {
                .item-inner {
                    padding: 0 20px;
                }
            }
        }
        .item-inner {
            color: white;
            margin: 0;
            line-height: 48px;
            padding: 0 0 0 40px;
        }
    }
}