@font-face {
    font-family: "FuturaPT-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FuturaPT-Bold/FuturaPT-Bold.eot?") format("eot"), url("../fonts/FuturaPT-Bold/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold/FuturaPT-Bold.ttf") format("truetype"), url("../fonts/FuturaPT-Bold/FuturaPT-Bold.svg#FuturaPT-Bold") format("svg");
}

@font-face {
    font-family: "FuturaPT-Book";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FuturaPT-Book/FuturaPT-Book.eot?") format("eot"), url("../fonts/FuturaPT-Book/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book/FuturaPT-Book.ttf") format("truetype"), url("../fonts/FuturaPT-Book/FuturaPT-Book.svg#FuturaPT-Book") format("svg");
}

@font-face {
    font-family: "FuturaPT-Demi";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FuturaPT-Demi/FuturaPT-Demi.eot?") format("eot"), url("../fonts/FuturaPT-Demi/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/FuturaPT-Demi/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi/FuturaPT-Demi.ttf") format("truetype"), url("../fonts/FuturaPT-Demi/FuturaPT-Demi.svg#FuturaPT-Demi") format("svg");
}

@font-face {
    font-family: "FuturaPT-ExtraBold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.eot?") format("eot"), url("../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.woff2") format("woff2"), url("../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.woff") format("woff"), url("../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.ttf") format("truetype"), url("../fonts/FuturaPT-ExtraBold/FuturaPT-ExtraBold.svg#FuturaPT-ExtraBold") format("svg");
}

@font-face {
    font-family: "FuturaPT-Heavy";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FuturaPT-Heavy/FuturaPT-Heavy.eot?") format("eot"), url("../fonts/FuturaPT-Heavy/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy/FuturaPT-Heavy.ttf") format("truetype"), url("../fonts/FuturaPT-Heavy/FuturaPT-Heavy.svg#FuturaPT-Heavy") format("svg");
}

@font-face {
    font-family: "FuturaPT-Light";
    src: url("../fonts/FuturaPT-Light/FuturaPT-Light.eot?") format("eot"), url("../fonts/FuturaPT-Light/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light/FuturaPT-Light.ttf") format("truetype"), url("../fonts/FuturaPT-Light/FuturaPT-Light.svg#FuturaPT-Light") format("svg");
}

@font-face {
    font-family: "FuturaPT-Medium";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FuturaPT-Medium/FuturaPT-Medium.eot?") format("eot"), url("../fonts/FuturaPT-Medium/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium/FuturaPT-Medium.ttf") format("truetype"), url("../fonts/FuturaPT-Medium/FuturaPT-Medium.svg#FuturaPT-Medium") format("svg");
}

@font-face {
    font-family: "KreditBack-Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/KreditBack-Regular/KreditBack-Regular.eot?") format("eot"), url("../fonts/KreditBack-Regular/KreditBack-Regular.woff2") format("woff2"), url("../fonts/KreditBack-Regular/KreditBack-Regular.woff") format("woff"), url("../fonts/KreditBack-Regular/KreditBack-Regular.ttf") format("truetype"), url("../fonts/KreditBack-Regular/KreditBack-Regular.svg#KreditBack-Regular") format("svg");
}