html.is-light {
    .views {
        box-shadow: none;
    }
    .page {
        &[data-page="activities"] {
            background: #eaeaea;
            .navbar {
                background: #eaeaea;
                box-shadow: none;
                color: black;
            }
            .list-block {
                li {
                    margin-bottom: 2px;
                    .item-content {
                        
                    }
                }
                a.is-hot {
                    .item-content {
                        border: 3px solid #ff5e5b;
                        overflow: hidden;
                        &:before {
                            content: 'hot!';
                            position: absolute;
                            top: 10px;
                            right: -30px;
                            background: #ff5e5b;
                            padding: 0;
                            width: 100px;
                            text-align: center;
                            text-transform: uppercase;
                            transform: rotate(45deg);
                            z-index: 9;
                        }
                    }
                }
            }
            .subnavbar {
                box-shadow: none;
                .quick-filter {
                    background: #eaeaea;
                    .radio-panel {
                        .radio-block {
                            span {
                                color: $maincolor;
                                border-color: $maincolor;
                                &.is-active {
                                    color: white;
                                    background: $maincolor;
                                }
                            }
                        }
                    }
                }
            }
        }
        &[data-page="place-detail"] {
            background: #eaeaea;
            color: black;
        }
        &.invitations-list {
            .navbar {
                background: #ae3b40;
                color: white;
            }
        }
        &.activity-owned {
            .navbar, .page-content {
                background: #eaeaea;
                color: black;
                .user-data {
                    .info {
                        color: black;
                    }
                }
                .desc {
                    color: black;
                }
                .ending {
                    span {
                        color: black;
                    }
                }
                .place-info {
                    border: 0;
                    &:after {
                        background: rgba(255, 255, 255, 0.64);
                    }
                    .left {
                        color: black;
                        letter-spacing: 1px;
                        .bottom-text {
                            .data {
                                color: black;
                            }
                        }
                    }
                    .right {
                        color: black;
                    }
                }
            }
        }
        &.profile {
            background: #eaeaea;
            color: black;
            &.my-profile.edit .list-block:not(.custom-search_city) li {
                border-bottom: 1px solid #cac8c8;
            }
            &.my-profile.edit .list-block:not(.custom-search_city) .item-content .item-inner .item-title {
                color: black;
            }
            &.my-profile.edit .list-block:not(.custom-search_city) .item-content .item-inner input {
                color: black;
            }
            &.my-profile.edit .list-block:not(.custom-search_city) .item-content .item-inner textarea {
                color: black;
            }
            .autocomplate-list .autocomplate-list-item .item-inner {
                color: black;
            }
            .watch_profile_title {
                color: black;
            }
            .page-content {
                .content-block-title {
                    color: black;
                }
            }
            .custom-search_usercity {
                .item-inner {
                    margin-right: 0 !important;
                    padding-right: 0 !important;
                    padding-bottom: 20px !important;
                }
            }
        }
        &.reviews {
            .navbar, .page-content {
                background: #eaeaea;
                box-shadow: none;
                color: black;
            }
            .list-block {
                li {
                    margin-bottom: 2px;
                }
            }
        }
        &.subscribers {
            .navbar, .page-content {
                background: #eaeaea;
                color: black;
                border-bottom: 2px solid #cfcfcf;
            }
            .content-block {
                .user-item {
                    height: 228px;
                    border-color: #c7c7c7;
                    .user-data {
                        .name {
                            color: black;
                        }
                    }
                }
            }
        }
    }
    &.ios {
        .navbar:before {
            background: #eaeaea;
        }
    }
}