$color: ('#012CC6', '#032cc4', '#052cc2', '#082cc0', '#0a2bbe', 
         '#0d2bbc', '#0f2bba', '#122bb8', '#142bb6', '#172bb4', 
         '#192bb2', '#1c2ab0', '#1e2aae', '#202aac', '#232aaa', 
         '#252aa8', '#272aa6', '#2a2aa3', '#2c29a2', '#2f29a0', 
         '#31299e', '#34299b', '#36299a', '#382998', '#3b2996', 
         '#3d2994', '#402892', '#402892', '#402892', '#422890', 
         '#45288d', '#4c2887', '#4e2885', '#512783', '#532781', 
         '#56277f', '#58277d', '#5a277b', '#5d2779', '#5f2777', 
         '#622675', '#642673', '#662671', '#69266f', '#6b266d', 
         '#6e266b', '#702669', '#732567', '#752565', '#772563', '#7A2561',
         '#7c2460', '#7d245e', '#7f235d', '#81225b', '#82225a',
         '#842159', '#862057', '#881f56', '#891f54', '#8b1e53',
         '#891f54', '#8b1e53', '#8d1d52', '#8e1d50', '#901c4f',
         '#921b4d', '#941b4c', '#951a4b', '#971949', '#991848',
         '#9b1846', '#9c1745', '#9e1643', '#a01642', '#a11541',
         '#a5143e', '#a8123b', '#aa113a', '#ac1138', '#ad1037',
         '#af0f36', '#b10f34', '#b30e33', '#b40d31', '#b60d30',
         '#b80c2f', '#ba0b2d', '#bb0a2c', '#bd0a2a', '#bf0929',
         '#c00828', '#c20826', '#c40725', '#c60623', '#c70522',
         '#c90521', '#cb041f', '#cd031e', '#ce031c', '#D0021B');

.percent-block {
    @for $i from 0 to 100 {
        &__color-#{$i} {
            background: unquote(nth($color, $i+1));
        }
    }
}

$filterColor: ('#294BC8', '#294BC8', '#294BC8', '#294BC8', '#294BC8', 
               '#294BC8', '#294BC8', '#294BC8', '#294BC8', '#294BC8',
               '#433fac', '#433fac', '#433fac', '#433fac', '#433fac', 
               '#433fac', '#433fac', '#433fac', '#433fac', '#433fac',
               '#593696', '#593696', '#593696', '#593696', '#593696', 
               '#593696', '#593696', '#593696', '#593696', '#593696',
               '#6b2e83', '#6b2e83', '#6b2e83', '#6b2e83', '#6b2e83', 
               '#6b2e83', '#6b2e83', '#6b2e83', '#6b2e83', '#6b2e83',
               '#80256e', '#80256e', '#80256e', '#80256e', '#80256e', 
               '#80256e', '#80256e', '#80256e', '#80256e', '#80256e',
               '#941c59', '#941c59', '#941c59', '#941c59', '#941c59', 
               '#941c59', '#941c59', '#941c59', '#941c59', '#941c59',
               '#a81445', '#a81445', '#a81445', '#a81445', '#a81445', 
               '#a81445', '#a81445', '#a81445', '#a81445', '#a81445',
               '#bc0b2f', '#bc0b2f', '#bc0b2f', '#bc0b2f', '#bc0b2f', 
               '#bc0b2f', '#bc0b2f', '#bc0b2f', '#bc0b2f', '#bc0b2f',
               '#cf021c', '#cf021c', '#cf021c', '#cf021c', '#cf021c', 
               '#cf021c', '#cf021c', '#cf021c', '#cf021c', '#cf021c',
               '#D0021B', '#D0021B', '#D0021B', '#D0021B', '#D0021B', 
               '#D0021B', '#D0021B', '#D0021B', '#D0021B', '#D0021B', '#D0021B', '#D0021B');

.filter-percent {
    @for $i from 1 to 100 {
        &__color-#{$i} {
            .vue-slider-process, .vue-slider-dot:before {
                transition: 300ms all;
                background: unquote(nth($filterColor, $i+1)) !important;
            }
        }
    }
}