html.ios {
    .login-screen {
        top: 20px !important;
        height: calc(100% - 20px) !important;
        overflow: visible;
        -webkit-transform: translate3d(0,calc(100% + 20px),0) !important;
        transform: translate3d(0,calc(100% + 20px),0) !important;
        &.modal-in {
            -webkit-transform: translate3d(0,0,0) !important;
            transform: translate3d(0,0,0) !important;
        }
        &:before {
            content: '';
            position: absolute;
            top: -20px;
            left: 0;
            background: $maincolor;
            width: 100%;
            height: 20px;
            z-index: 9999;
        }
    }
    .navbar {
        &:before {
            content: '';
            position: absolute;
            top: -20px;
            left: 0;
            background: $navbarcolor;
            width: 100%;
            height: 20px;
            z-index: 1;
        }
    }
    .provider, .new-activity {
        .navbar {
            &:before {
                background: $maincolor;
            }
        }
    }
    .new-activity.is-suggestion {
        .navbar {
            &:before {
                background: $vipColor;
            }
        }
    }
    .number-verify {
        .navbar {
            &:before {
                background: linear-gradient(331deg, #e54b4b, #e54b73);
            }
        }
    }
    .invitations-list {
        .navbar {
            &:before {
                background: #ae3b40;
            }
        }
    }
    .panel-left, .panel-right {
        top: -20px;
        height: calc(100% + 20px) !important;
        .view {
            padding-top: 20px;
            &:before {
                content: '';
                position: absolute;
                top: 0px;
                left: 0;
                background: $maincolor;
                width: 100%;
                height: 20px;
                z-index: 1;
            }
        }
    }
    
    .framework7-root {
        padding-top: 20px !important;
        .views, .view, .pages, .panel {
            overflow: visible !important;
        }
    }
    
    .popup {
        top: -20px !important;
        height: calc(100% + 20px) !important;
        .navbar {
            top: 40px;
            &:before {
                background: gray;
            }
        }
    }
}